<div class="container-md">
  <h3  class="display-3"><%= @user.name%></h3>
  <h5 class="display-5"><%= @user.email%></h5>
  <%= link_to "Home", root_path, class:"btn btn-outline-primary" %>
  <table class="table table-bordered">
    <tr>
      <th>Task</th>
      <th>Status</th>
    </tr>
      <% @user.tasks.each do |task|  %>
    <tr>
        <td> <% if task.status == "done" %>
              <s><%= task.name %></s>
              <% else %>
              <%= task.name %>
              <% end %>
        </td>
        <td><%= task.status %></td>
        <td>
          <%= link_to "Delete", user_task_path(@user, task), method: :delete, class: "btn btn-danger btn-sm"  %>
          <%= link_to "In Progress", user_task_path(@user, task, {status: "doing"}), method: :patch, class: "btn btn-warning btn-sm"  %>
          <%= link_to "Completed", user_task_path(@user, task, {status: "done"}), method: :patch, class: "btn btn-success btn-sm"  %>
        </td>
    </tr>
    <% end %>
  </table>

  <h3>Add a new task</h3>
    <div class="row">
      <%= simple_form_for [@user, @task] do |f| %>
        <div class="col"><%= f.input :name, class: "form-control", placeholder: "Laundry"  %></div>
        <div class="col"><%= f.submit 'Add to list', class:"btn btn-primary" %></div>
      <% end %>
    </div>
</div>
